<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Are you sure you want to delete the following course</h1>
    <h3>Name: {{course.name}}</h3>
    <h3>Description: {{description.content}}</h3>
    <button><a href="/">No</a></button>&nbsp;&nbsp;
   <button><a href="/destroy">Yes! I want to delete this</a></button>
</body>
</html>