<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
</head>
<body>
    <div class="row">
        <div class="col-xs-6">
            <h1>Welcome to the test</h1>
            <h3>We're going to build a cool application using a MVC framewirk! This application was built with the Vilage88 folks!</h3>
            <button><a href="/signin"></a>Start</button>
        </div>
    </div>
</body>
</html>